<!doctype html>
<html>
<head>
    <title>Main Page</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <p>Proud Owners of <a href="/login">House Hayden</a></p>
  </header>
  <section class="container clearfix">
    <h1>Tunez</h1>
    <section class="itemDisplayed">
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
    </section>
    <section class="screen">

    </section>
    <section class="keypad">
      <input type="text" name="typeInNum" value="" id="num" placeholder="Enter Order #">
      <button id="submit">Submit</button>
      <!-- <button type="button" value="Scorpion">1</button>
      <button type="button">2</button>
      <button type="button">3</button>
      <button type="button">4</button>
      <button type="button">5</button> -->
    </section>
  </section>
  <!-- <script src="main.js"></script> -->
  <script src="main2.js"></script>
</body>
</html>
